/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f5f5f5;
    background-image:url(./wallpaperflare.com_wallpaper\ \(6\).jpg);
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  ul {
    list-style-type: none;
  }

  ul li :before {
    content: '[';
    padding-right: 15px;
    opacity: 0;
    transition: all 300ms;
  }
  
  ul li :after {
    content: ']';
    padding-left: 15px;
    opacity: 0;
    transition: all 300ms;
  }
  
  ul li :hover:after {
    padding-left: 5px;
    opacity: 1;
  }
  
  ul li :hover:before {
    padding-right: 5px;
    opacity: 1;
  }
  
  ul li  ,
  ul li  :active{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 20px;
  }
  
  /* Header styles */
  header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  nav h1 {
    font-size: 24px;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  /* Hero section styles */
  .hero {
    text-align: center;
    padding: 100px 0;
 
  }
  
  .hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #666;
  }
  
  .cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #555;
  }
  
  /* Service section styles */
  .service-card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .service-card img {
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  /* Contact section styles */
  form input,
  form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  form textarea {
    height: 120px;
  }
  
  form button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #555;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  